.header{
    background-color:#31c48d;
    width: 100%;
    height: 75px;
    /* text-align:center;  */
    position: fixed;
    font-size: 30px;
     font-weight:600; 
     font:bold;
     /* font-style:italic; */
    text-decoration: none;
    display: flex;
     align-items: center; 
   justify-content: center;   
}

.sliderMenu{
    left: 0;
}