.sidebar{
    background-color:#31c48d;

    width: 200px;
    height: 100vh;
    display: block;
    align-items: center;
    z-index: 999;
    position: fixed;
    bottom: 0;
    top: 75px;
}




.menu-title {
    padding: 15px 20px !important;
    letter-spacing: .05em;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color:black;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: 45px;

    /* border:1px solid gray; */

    a{

        color: black;

        text-decoration: none;

    }

}


.menu-title:hover{
    background-color:#48dfa7;
    width: 195px;

}







.menu-icon{

    margin: 1px;

}




ul{

    list-style: none;

}




a{text-decoration: none;

color: black;}

a:hover{




    color: rgb(80, 78, 78);




    text-decoration: none;

 




}




.metismenu{




    position: absolute;




    left: -41px;




}




// @media (max-width: 991.98px) {




//     .sidebar {




//         display: block;




//     }




//     body.vertical-collpsed {




//         .sidebar {




//             // display: block;




//             width: 20px;




//         }




//     }




// }







@media (min-width: 991.99px) {




    .sidebar {




        display: block;




    }  




    body.vertical-collpsed {




        .sidebar {




                width:100px;




        }




    }




}  

.icon{




    display: none;




}




.vertical-collpsed {




   




   .outlet{

        margin-left: 90px;




    }




    .icon{




        display: block;




    }

    .menuTitle{

        display: none;

    }

    .sliderMenu{




        display: block;




    }




    .sidebar {




        position: absolute;




        width: 90px !important;




        z-index: 999;




 




        // .simplebar-mask,




        // .simplebar-content-wrapper {




        //     overflow: visible !important;




        // }




        // Sidebar Menu




        #sidebar-menu {




 




            .menu-title,




            .collapse.in {




                // display: none !important;




                //  font-size: none;

                font-size: 20px;

                 margin-left: 35px;

                 font-weight: bold;

                 width: 96px;




            }




           




            .has-arrow {




                &:after {




                    display: none;




                }




            }




        }




 




    }




  }